<!DOCTYPE html>
<html>

<head>
{{> head}}

</head>

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      {{> nav}}
    </header>
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="images/restaurante.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Urban Food
              </h2>
            </div>

            </br>
            </br>
            </br>
            <p>
            Es un restaurante, comprometido con la innovacion, la creatividad y el servicio.
            Brindamos a nuestros clientes una amplia gama de comidas, satisfaciendo las necesidades
            de nuestros clientes, preparando productos y servicios de excelente calidad.
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- footer section -->
  <footer class="footer_section">
    {{> footer}}
  </footer>
  <!-- footer section -->

  <!-- jQery -->
   {{> script}}
  <!-- End Google Map -->

</body>

</html>