<!DOCTYPE html>
<html>

<head>
 {{> head}}

</head>

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
     {{> nav}}
    </header>
    <!-- end header section -->
  </div>

  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          {{titulo}}
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">

            {{#if mostrar}}
           <div class="text-center alert alert-{{clase}}" role="alert" >{{mensaje}}</div>
            {{/if}}
            <form action="/book" method="post" class="needs-validation" id="contact-form" novalidate >
              <div>
                <input type="text" class="form-control" placeholder="Nombre" name="nombre" id="nombre" minlength="4" maxlength="15" required>
              </div>
              
              <div>
                <input type="number" class="form-control" placeholder="Numero de Telefono"  name="telefono" id="telefono" minlength="8" required >
              </div>
              
              <div>
                <input type="email" class="form-control" placeholder="Ej: email@mail.com" name="email" id="email" required >
              </div>
              
               <div>
                <input type="number" class="form-control" placeholder="Cuantas Personas?" name="cantidad" id="cantidad" maxlength="2" required >
              </div>
              
              <div class="btn_box">
               <button class="btn btn-primary" type="submit">Reservar</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container ">
            <div id="googleMap"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end book section -->

  <!-- footer section -->
  <footer class="footer_section">
    {{> footer}}
  </footer>
  <!-- footer section -->

  <!-- jQery -->

      <!--{{> script}}-->
  
  <!-- End Google Map -->
<script>
  // Validación
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
</script>
</body>

</html>