<!DOCTYPE html>
<html>

<head>
    {{> head}}
    <link  rel="stylesheet" href="style.css"></link>
</head>

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      {{> nav}}
    </header>
    <!-- end header section -->
  </div>
  <div class="full-img" id="fullImgBox">
    <img src="images/gimage1.jpg" id="fullImg">
    <span onclick="closeFullImg()">X</span>
  </div>
    <div class="img-gallery">
        <img src="images/gimage1.jpg" onclick="openFullImg(this.src)">
         <img src="images/gimage2.jpg" onclick="openFullImg(this.src)">
          <img src="images/gimage3.jpg" onclick="openFullImg(this.src)">
           <img src="images/gimage4.jpg" onclick="openFullImg(this.src)">
            <img src="images/gimage5.jpg" onclick="openFullImg(this.src)">
             <img src="images/gimage6.jpg" onclick="openFullImg(this.src)">
              <img src="images/gimage7.jpg" onclick="openFullImg(this.src)">
               <img src="images/gimage8.jpg" onclick="openFullImg(this.src)">
    </div>
    <div>
    </div>
  

   <!-- footer section -->
  <footer class="footer_section">
     {{> footer}}
  </footer>
  <!-- footer section -->

    <!-- 
    Essential Scripts
    =====================================-->
    <!-- Option 1: Bootstrap Bundle with Popper -->
 {{> script}}
<script>


var fullImgBox = document.getElementById("fullImgBox");
var fullImg = document.getElementById("fullImg");

function openFullImg(pic)
{
    fullImgBox.style.display="flex";
    fullImg.src = pic;
}

function closeFullImg()
{
   fullImgBox.style.display="none"; 
   
}

</script>
 
</body>

</html>