<!DOCTYPE html>
<html>

<head>
  {{> head}}
</head>

<body>

  <div class="hero_area">
    <div class="bg-box">
      <img src="images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
    {{> nav}}
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
       {{> section}}
    </section>
    <!-- end slider section -->
  </div> 

  <!-- menu section -->

  <section class="food_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Nuestro Menu
        </h2>
      </div>

      <ul class="filters_menu">
        <li class="active" data-filter="*">All</li>
        <li data-filter=".burger">Burger</li>
        <li data-filter=".pizza">Pizza</li>
        <li data-filter=".pasta">Pasta</li>
        <li data-filter=".fries">Fries</li>
      </ul>

      <div class="filters-content">
        <div class="row grid">
          {{#each productos}}
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="/uploads/{{image}}" alt="product-img">
                </div>
                <div class="detail-box">
                  <h5>
                   {{title}}
                  </h5>
                  <ul>
                   {{#listado description}}
                   <li>{{this}}</li>
                    {{/listado}}
                  </ul>
                  <div class="options">
                    <h6>
                     {{price}} $
                    </h6>
                  <a href="" class="button">Comprar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
       {{/each}}
      
      </div>
    </div>

    
  </section>

  <!-- end menu section -->


  <!-- footer section -->
  <footer class="footer_section">
     {{> footer}}
  </footer>
  <!-- footer section -->

  <!-- jQery -->
   {{> script}}
  <!-- End Google Map -->
<script>
  
</script>
</body>

</html>