<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}

</head>
<body id="backend" style="background-color: rgb(214, 148, 208);">
    <h1>Formulario : Editar Producto</h1>
    </br>
    <div class="container mb-4">
            <!-- Start Top Header Bar -->
      <!--nav -->
         <div class="editar-producto mt-4" >


            <form action="/editar/1" method="post" enctype="multipart/form-data"  >
                <div class="row">

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="row">
                            <div class="mb-3 col-12 col-md-6">
                 <label for="nombre" class="form-label">Nombre</label>
                 <input type="text" class="form-control" id="nombre" value="Lenovo X200" name="nombre"
                  required>
          </div>
              <div class="mb-3 col-12 col-md-6">
                                <label for="precio" class="form-label">Precio </label>
                                <input type="text" class="form-control" id="precio" value="1499" name="precio"
                                    title="Sólo números" required>
                            </div>
                        </div>
<div class="mb-3 col-12 editar" id="imagenCargada">
                            <label for="imagenDeProducto" class="form-label">Imagen</label>
                            <img src="/uploads/x1_carbon_4_3.jpg-1654801811279.jpg" alt="" class="img-fluid">
                            <input class="form-control" type="file" id="imagenDeProducto" name="imagenDeProducto"
                                style="display:none" accept=".png,.jpg,.jpeg">
                        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-8">
                        <div class="row">
                            <div class="mb-3 col-8">
                                <label for="descripcion" class="form-label">Descripcion</label>
                                <textarea class="form-control" id="descripcion" rows="16"
                                    name="descripcion">  </textarea>
                            </div>
                            
                        </div>
                    </div>

                </div>

                <button type="submit" class="btn btn-secondary">Editar</button>
                <a href="/admin" class="btn btn-secondary">Volver al listado de productos</a>
                <a href="/" class="btn btn-secondary">Volver a la Pagina Principal</a>
               </form>
        </div>
    </div>

</body>
</html>